<form method="post" id="fan_mailer_form" action="http://www.jango.com/bands/57906/band_to_fan_messages">  
	<input type="hidden" name="fan_mail[receiver_id]" id="fan_mail_receiver_id" value="41203429"> 
	<textarea cols="40" name="fan_mail[body]" rows="20" style="width: 400px; height: 150px;" id="fan_mail_body"></textarea>
	<br>
	<input type="submit" value="Send" name="commit">
</form>